* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(images/background.jpg);
  background-position: center;
  background-size: cover;
  align-items: justify;
}
#gameBoard {
  border: 3px solid white;
}
#gameContainer {
  text-align: center;
  margin-top: 20px;
}
#scoreText {
  font-size: 75px;
  margin-top: 15px;
  color: white;
}
#restartButton {
  font-family: "Permanent Marker", cursive;
  font-size: 22px;
  padding: 5px;
  border: 2px solid white;
  width: 150px;
  height: 50px;
  margin-top: 15px;
  background-color: red;
  color: white;
  border-radius: 10px;
  text-align: center;
}
.scoreContainer {
  width: 350px;
  height: 200px;
  text-align: center;
  background-color: gray;
  margin: auto;
  border: 5px solid #f5f393;
  border-radius: 15px;
}
